
{% extends "base.html" %}

{% block style %}
  <style>
.read-more{
  color: #192965;
  background: #fff;
  padding: 5px 10px;
  margin: 30px 0px;
  border: 2px solid #192965;
  border-radius: 3px;
  transition: .3s all;
  -webkit-transition: .3s all;
}


.read-more a{
	color:#192965;
}
.read-more:hover, .read-more:focus{
  color: #192965;
  border: 2px solid #192965;
  opacity: 0.8;
  padding: 11.5px 20px;
  transition: 0.8s all;

}  
</style>
{% endblock style %}


{% block body %}

<br><br>    
    <br>
    <br><br>    
    <br>

    {% for blo in red %}
 
	  <div class="row justify-content-center align-items-center">
        
        <div class="col-lg-7 col-md-offset-3 col-md-6  col-sm-12">
          <div class="bd-example">
              <a href="{% url 'myapp:post_detail' blo.pk %}"><h2 class="text-center animated slideInLeft delay-0.5s">{{blo.title}}</h2></a><br>
              <p class="text-left animated slideInLeft	delay-0.5s">{{blo.text |slice:":500"}}</p>
          </div>
          
        </div>
        
  
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="pl-68 animated slideInRight	delay-0.5s" style="text-align: center;">
              <img  style="width: 350px; height: 350px;" src="{{blo.img1.url}}"> 
          </div>
         
        </div>
        <button class="read-more float-center"  >
            <a style="text-align:center;" class="" href="{% url 'myapp:post_detail' blo.pk %}">read more</a> </button>
        
     
        
      </div>
      <br><br>
      {% endfor %}
     
     











        
{% endblock body %}