























































.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

body{
  /* color:#ff0000; */
  color:rgb(43, 42, 42);

}












		.ml3 {
			font-weight: 900;
			font-size: 3.5em;
			color:#fc0f0fee;
			text-align-last: left;
			padding-top:70px;
			padding-left: 15px;
}
	
		.welcome-text{
			text-align-last: left;
			padding-top:10px;
			padding-left: 15px;

		}

	.container {
  padding-top: 10px;
}

.main-container {
  background: #f8f9f9;
  position: relative;
}

.main-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 60px;
  background: #f8f9f9;
  -webkit-transform: skewY(2.5deg);
  -moz-transform: skewY(2.5deg);
  -ms-transform: skewY(2.5deg);
  -o-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-backface-visibility: hidden;
}

.about-me-section {
  margin: 10px auto;
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative;
  max-width: 600px;
}

.about-us-p{
	text-align: center;
	color:black;
	padding: 1px 0px 30px ;
}
	

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
.testimonials{
	padding: 100px 0px 140px 0px;
    background: ;
    width: 100%;
    overflow: hidden;
    background: #fff;
    text-align: center;
    color: #000;
}

@media (max-width: 768px)
.clients {
    padding-bottom: 0px;
}

.clients {
    width: 100%;
    padding: 80px 0px 30px 0px;
    overflow: hidden;
    text-align: center;
}


@media (max-width: 768px)

footer {
    padding-top: 0px;
}
@media (max-width: 998px)
footer {
    margin-top: 0px;
    height: auto;
}
	





















.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}



.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}


.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}



























body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #444;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 1.5em;
  }
  .logo{
    width: 2em;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 15px;
  color: rgb(43, 42, 42);
  font-weight: 500;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

.lead {
  font-size: 20px;
}

a {
  color: #0b0f28;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: #dd0a37;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

.main-btn {
  padding: 10px 10px;
    background: #192965;
  color: #ffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.8s all;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
.brochure-btn {
  display: inline-block;
  padding: 11.5px 21px;
  background: #fff;
  color: #fff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.8s all;
  border-radius: 5px;
  margin-top: 5px;
}
.my-btn {
  display: inline-block;
  padding: 11.5px 21px;
  background: #181717;
  color: #fff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.8s all;
  border-radius: 5px;
  margin-top: 5px;
}
.addeventatc{
  transition: 0.8s all;
}
.main-btn:hover, .main-btn:focus,.addeventatc:hover,.brochure-btn:hover,.ticket-btn:hover {
  color: #FFF;
  opacity: 0.8;
  padding: 11.5px 20px;
  transition: 0.8s all;
}

.input {
  height: 40px;
  width: 100%;
  border: 2px solid #dadada;
  padding: 0px 15px;
  border-radius: 2px;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}

textarea.input {
  height: 90px;
  padding: 15px;
}

.input:focus {
  border-color: #dd0a37;
}

/*----------------------------*\
	Section
\*----------------------------*/

.section {
  position: relative;
  padding: 90px 0px;
}

.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.section-title .title {
  position: relative;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 42px;
  overflow: hidden;
}

.section-title .title>span {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: inline-block;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.section-title .title>span.appear {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/*=========================================================
	LOGO
===========================================================*/



/*=========================================================
	HOME
===========================================================*/

#home {
  height: 100vh;
  position: relative;
}

#home .home-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: left;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-header {
  text-transform: uppercase;
  color: pink;
  text-align: center;
}

.home-content h2 {
  text-transform: uppercase;
  font-weight: 900;
  color: #FFF;
  
}

.home-content h4 {
  color: #FFF;
}

#page-wrapper {
  background-color: #F9F9FA;
}

.page-wrapper-content {
  text-align: center;
}

/*=========================================================
	ABOUT
===========================================================*/

#numbers {
  margin-top: 60px;
}

.number {
  margin-bottom: 30px;
}

.number h3 {
  font-size: 42px;
  margin-bottom: 0px;
  color: #dd0a37;
}

.number p {
  text-transform: uppercase;
  color: #0b0f28;
}

/*=========================================================
	GALERY
===========================================================*/

#galery-owl .owl-item .galery-item {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s transform, 0.6s opacity;
  transition: 0.6s transform, 0.6s opacity, 0.6s -webkit-transform;
}

#galery-owl.owl-theme .owl-item.active+.owl-item .galery-item {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#galery-owl.owl-theme .owl-item.active .galery-item {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#galery-owl.owl-theme .owl-nav {
  margin-top: 0px;
}

#galery-owl.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  color: #dd0a37;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

#galery-owl.owl-theme .owl-prev {
  left: 15px;
}

#galery-owl.owl-theme .owl-next {
  right: 15px;
}

/*=========================================================
	SPEAKERS
===========================================================*/

#speakers {
  background-color: #F9F9FA;
}

.speaker {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.speaker:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker:hover:after {
  opacity: 0.8;
}

.speaker .speaker-img>img {
  width: 100%
}

.speaker .speaker-body {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}

.speaker .speaker-content {
  position: relative;
  padding: 30px;
  background: #dd0a37;
  text-align: right;
  z-index: 20;
}

.speaker .speaker-content>h2 {
  color: #FFF;
}

.speaker .speaker-content>span {
  color: #fff;
}

.speaker .speaker-social {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker .speaker-social>a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background: #dd0a37;
  z-index: 15;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.speaker .speaker-social a+a {
  margin-left: -4px;
  border-left: 1px solid #f8f8ff33;
}

.speaker .speaker-social a:hover {
  opacity: 0.8;
}

.speaker:hover .speaker-social {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*----------------------------*\
	Speaker Modal
\*----------------------------*/

.speaker-modal .modal-dialog {
  width: 100%;
  max-width: 970px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.speaker-modal .modal-content {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.speaker-modal .speaker-modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #dd0a37 !important;
  border-radius: 50%;
  padding: 0;
  color: #FFF;
  border: none;
  font-size: 24px;
  z-index: 50;
}

.speaker-modal .speaker-modal-close:after {
  content: "\f00d";
  font-family: FontAwesome;
}

.speaker-modal .modal-body {
  padding: 30px;
}

.speaker-modal .speaker-modal-img>img {
  width: 100%;
}

.speaker-modal .speaker-modal-content .speaker-name {
  display: inline-block;
  margin-right: 15px;
}

.speaker-modal .speaker-modal-content .speaker-job {
  color: #dd0a37;
}

.speaker-modal .speaker-modal-content .speaker-social {
  margin-top: 30px;
  margin-bottom: 30px;
}

.speaker-modal .speaker-modal-content .speaker-social>a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  background: #dd0a37;
  color: #fff;
  margin-right: 5px;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.speaker-modal .speaker-modal-content .speaker-social>a:hover {
  opacity: 0.8;
}

.speaker-modal .speaker-modal-content .speaker-website {
  margin-top: 30px;
}

.speaker-modal .speaker-modal-content .speaker-events .speaker-event+.speaker-event {
  margin-top: 30px;
}

.speaker-modal .speaker-modal-content .speaker-events .speaker-event>span {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

.speaker-modal .speaker-modal-content .speaker-events .speaker-event>span strong {
  color: #dd0a37;
}

/*=========================================================
	EVENTS
===========================================================*/

.event {
  position: relative;
}

.event+.event {
  margin-top: 60px;
}

.event:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0px;
  bottom: 0px;
  width: 4px;
  background-color: #dd0a37;
}

.event:last-child:after {
  height: 60px;
}

.event+.event:before {
  content: "";
  position: absolute;
  left: 60px;
  height: 60px;
  top: -60px;
  width: 4px;
  background-color: #dd0a37;
}

.event .event-day {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #dd0a37;
  z-index: 10;
}

.event .event-hour {
  position: absolute;
  left: 62px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #dd0a37;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.event .event-day>div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event .event-day .day {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.event .event-day .year {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
}

.event .event-content {
  padding-left: 160px;
  min-height: 120px;
}

.event .event-time {
  font-size: 14px;
}

.event .event-time i {
  color: #dd0a37;
}

.event .event-content a {
  color: #dd0a37;
}

.download-btn {
  margin-top: 60px;
  text-align: center;
}

/*=========================================================
	SPONSORS
===========================================================*/

.sponsor {
  display: block;
  opacity: 0.5;
  margin-bottom: 30px;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.sponsor:hover {
  opacity: 1;
}

.sponsor>img {
  width: 100%;
}

/*=========================================================
	TICKETS
===========================================================*/
  /* .ticket-section{
    background-color: rgba(0,0,0,0.8);
  } */
/*=========================================================
	CONTACT
===========================================================*/

#contact.section {
  padding-bottom: 0px;
}

.contact {
  text-align: center;
  margin-bottom: 30px;
}

.contact h3 {
  color: #dd0a37;
}

#map {
  height: 380px;
  margin-top: 60px;
}

/*=========================================================
	CTA
===========================================================*/

.cta-content h2 {
  font-size: 42px;
  color: #FFF;
  text-transform: capitalize;
}

.cta-content p {
  color: #fff;
}

.cta-content .video-play {
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 0px auto 60px;
  background: #FFF;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 42px;
  color: #dd0a37;
  cursor: pointer;
}

/*=========================================================
	FOOTER
===========================================================*/

#footer {
  padding: 20px 5px;
}

.footer-brand {
  text-align: center;
}

.footer-brand .logo>img {
  max-height: 50px;
}

.copyright {
  height: 50px;
  line-height: 50px;
}

.contact-social {
  text-align: right;
  margin: 10px 0px;
}

.contact-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #dd0a37;
  color: #fff;
  line-height: 30px;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contact-social a:hover {
  opacity: 0.8;
}

/*=========================================================
	BLOG
===========================================================*/

.blog {
  position: relative;
}

.blog+.blog {
  margin-top: 60px;
}

.blog:last-child {
  margin-bottom: 60px;
}

.blog .blog-img {
  margin-bottom: 30px;
}

.blog .blog-img>img {
  width: 100%;
}

.blog .blog-meta {
  margin-bottom: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.blog .blog-meta .blog-day {
  display: inline-block;
  margin-right: 15px;
}

.blog .blog-meta .blog-tags {
  display: inline-block;
  text-transform: uppercase;
}

.blog .blog-meta .blog-tags li {
  display: inline-block;
  margin-right: 5px;
}

.blog .blog-meta .blog-tags li:first-child {
  font-weight: 700;
  color: #0b0f28;
}

.blog .blog-content .read-more {
  display: inline-block;
  padding: 7px 14px;
  background: #dd0a37;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.blog .blog-content .read-more:hover, .blog .blog-content .read-more:focus {
  opacity: 0.8;
  color: #fff;
}

.blog .blog-share {
  margin: 30px 0px 60px;
}

.blog .blog-share li {
  display: inline-block;
  margin-right: 5px;
}

.blog .blog-share li:first-child {
  line-height: 30px;
  font-weight: 700;
  color: #0b0f28;
}

.blog .blog-share li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #dd0a37;
  color: #FFF;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.blog-share li a:hover {
  opacity: 0.8;
}

.blog .blog-comments .media {
  margin-top: 30px;
}

.blog .blog-comments .media .media-left {
  padding-right: 30px;
}

.blog .blog-comments .media .media-left .media-object {
  width: 90px;
  border-radius: 50%;
}

.blog .blog-comments .media .media-heading {
  margin-bottom: 30px;
}

.blog .blog-comments .media .media-heading h4 {
  margin-bottom: 10px;
}

.blog .blog-comments .media .media-heading .date {
  font-size: 12px;
}

.blog .blog-comments .media .media-heading .reply-btn {
  margin-left: 10px;
  color: #dd0a37;
}

.blog .blog-reply {
  margin-top: 60px;
}

.blog .blog-reply form {
  margin-top: 30px;
}

.blog .blog-reply form .form-group {
  margin-bottom: 30px;
}

/*=========================================================
	RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
  .contact-social {
    text-align: center;
    margin: 30px 0px;
  }
  .copyright {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .home-content h1 {
    font-size: 31px;
  }
  .page-wrapper-content h1 {
    font-size: 31px;
  }
  .event .event-day {
    width: 90px;
    height: 90px;
  }
  .event .event-content {
    padding-left: 115px;
  }
  .event .event-day .day {
    font-size: 31px;
    line-height: 31px;
  }
  .event .event-hour {
    left: 47px;
  }
  .event:after {
    left: 45px;
  }
  .event+.event:before {
    left: 45px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}
