{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Influence media Africa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon4.ico' %}">

{% comment %}
<!-- #d3434f -->
{% endcomment %}
<!-- CSS here -->
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} "> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} ">
<link rel="stylesheet" href="{% static 'css/slicknav.css' %} ">
<link rel="stylesheet" href="{% static 'css/flaticon.css' %} ">
<link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %} ">
<link rel="stylesheet" href="{% static 'css/gijgo.css' %} ">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %} ">
<link rel="stylesheet" href="{% static 'css/animated-headline.css' %} ">
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %} ">
<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %} ">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %} ">
<link rel="stylesheet" href="{% static 'css/slick.css' %} ">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %} ">
<link rel="stylesheet" href="{% static 'css/style.css' %} ">



</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <!-- <div class="header-top d-none d-lg-block"> -->
                    <!-- <div class="container-fluid"> -->
                        <!-- <div class="col-xl-12"> -->
                            <!-- <div class="row d-flex justify-content-between align-items-center"> -->
                                <!-- <div class="header-info-left d-flex">
                                    <ul>      
                                        <li>Call Us: (+84) 939 512 999</li>
                                        <li>info@office.com </li>
                                    </ul>
                                    <div class="header-social">    
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a  href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                       
                                                <li><a href="{% url 'myapp:home' %}">Home</a></li>
                                                <li><a href="{% url 'myapp:about' %}">About</a></li>
                                                <li><a href="package.html">Trainings</a></li>
                                                <li><a href="features.html">Explore</a>
                                                <ul class="submenu">
                                                        <li><a href="blog.html">View Events</a></li>
                                                        <li><a href="blog_details.html">View Trainings</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-30">
                                        <a href="contact.html" class="btn header-btn">Get Started</a>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
{% block body %}
  
{% endblock body %}
<footer>
    <!--? Footer Start-->
    <div class="footer-area section-bg" data-background="assets/img/gallery/footer_bg.png">
        <div class="container">

            <!-- Brand Area End -->
            <div class="footer-top footer-padding">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p class="info1">call out hotline for more information
                                      or sed us a mail today!
                                    </div>
                            </div>
                            <div class="footer-number">
                                <h4><span>+234 </span>XXXXXXX</h4>
                                <p>@influencemediaafrica.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Our Support</h4>
                                <ul>
                                    <!-- <li><a href="#">Advanced</a></li> -->
                                    <li><a href="#"> Management</a></li>
                                    <li><a href="#">Corporate</a></li>
                                    <li><a href="#">Customer</a></li>
                                    <li><a href="#">Information</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Link</h4>
                                <ul>
                                    <!-- <li><a href="#">New Law</a></li> -->
                                    <li><a href="{% url 'myapp:about' %}">About</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <!-- <li><a href="#">Licenses</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4 class="text-left">Socials</h4>
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
              <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- Footer End-->
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- One Page{% static '' %}, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static 'js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>
</html>



















{% comment %}


<!-- Contact -->
<div id="contact" class="">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="section-title">
          <h3 class="title">
            <span style="color: #dadada;">Contact</span> <span style="color: #d3434f;">Info</span>
          </h3>
        </div>
        <!-- /section title -->

        <!-- contact -->
        <div class="col-md-4">
          <div class="contact">
            <h3>Phone</h3>
            tofunmi: <a style="color: #dadada;" href="tel:+2464554727">+2464554727</a> <br>
            wale: <a style="color: #dadada;" href="tel:+353366346">+2464554727</a>
          </div>
        </div>
        <!-- /contact -->

        <!-- contact -->
        <div class="col-md-4">
          <div class="contact" style="color: #dadada;" >
            <h3 >Email</h3>
            <a  style="color: #dadada;" href="mailto:tofunmi@gmail.com">tofunmi@gmail.com</a> <br />
            <a  style="color: #dadada;" href="mailto:wale @mail.com">wale @mail.com</a> <br />
          </div>
        </div>
        <!-- /contact -->
        <!-- contact social -->
        <div class="col-md-4">
          <div class="contact">
            <h3 style="color: #d3434f;">Socials</h3>
            <div class="contact-social">
              <a
                href="https://www.facebook.com/Influenzmedianigeria/"
                target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="https://twitter.com/Influenzmedianigeria" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="https://www.instagram.com/Influenzmedianigeria"
                target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/company/Influenzmedianigeria"
                target="_blank"
                ><i class="fa fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- /contact social -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /Contact -->

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center copyright">
          <h5>© 2020.  All Rights Reserved <span style="color: #dadada;">Influenz Media Nigeria</span></h5>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->
<div class="wrapper">

      <nav>
            <div class="menu-icon">
                  <i class="fa fa-bars fa-1x"></i>
            </div>
            <div class="logo">
                        <a href="{% url 'myapp:home' %}"><img src="{% static 'img/IMN_LOGO-Recovered1.png' %}" alt=""> </a>
            </div>
            <div class="menu">
                  <ul class="navbar-right">
                        <li><a href="{% url 'myapp:home' %}#our_services_section">Our Services</a></li>
                        <li><a href="{% url 'myapp:home' %}#about_section">About</a></li>
                        <li><a href="{% url 'myapp:home' %}#projects_section">Projects</a></li>
                        <li><a href="{% url 'myapp:post_list' %}">blog</a></li>
                        <li><a href="{% url 'myapp:home' %}#testimonials_section">Testimonials</a></li>
                        <li><a href="{% url 'myapp:home' %}#clientel_section">clientel</a></li>
                        <li><a href="{% url 'myapp:home' %}#contact_section">contact</a></li>
            

                  </ul>
            </div>
      </nav>
</div>	
{% endcomment %}