{% extends "base.html" %}



{% block body %}
  
{% endblock body %}
<div id="contact" class="section">
		<!-- container -->
		<div class="section-title">
					<h3 class="title" style="color: #192965;"><span>Contact</span> <span style="color: #ff0000; padding-top:60px; padding-bottom: 100px;" >Info</span></h3>
		</div>
		<div class="container">
			<!-- row -->
	
				<div class="row">

				<!-- contact -->
				<div class="col-md-3">
					<div class="contact text-left">
						<h3>usefull links</h3>
						<ul>
							<li>Home</li>
							<li>About</li>
							<li>Our services</li>
							<li>Work</li>
							<li>Blog</li>
						</ul>
					</div>
				</div>
				<!-- /contact -->
	
				<!-- contact -->
				<div class="col-md-3">
					<div class="contact text-left">
						<h3>Email</h3>
						<a href="mailto:wale@gmail.com">wale@gmail.com</a>
						<a href="mailto:tofunmi@gmail.com">tofunmi@gmail.com</a>
						<a href="mailto:hello@gmail.com">ello@gmail.com</a>
					</div>
				</div>
				<!-- /contact -->
				<!-- contact social -->
				<div class="col-md-3">
					<div class="contact">
						<h3 style="color: #dd0a37;"> Socials</h3>
						<ul class="faico">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/volqx"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			  </ul>
					</div>
				</div>
				<!-- /contact social -->
				<div class="col-md-3">
					<div class="contact text-left">
							<h3>Phone</h3>
						<ul>
							<li><p>tofunmi: +23470166764366</p></li>
							<li><p>wale: +2349015966647425</p></li>
						</ul>
						
						
						
					</div>
				</div>
	
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	
	</div>
	
	<!-- /Contact -->
	
	<!-- Footer -->
	<footer id="footer">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
	
				<!-- footer logo -->
				<div class="col-md-12 text-center">
					<!-- <div class="footer-brand"> -->
						<h5>All rights reserved. Influenz Media Nigeria ©2020 </h5>
					<!-- </div> -->
				</div>
				<!-- /footer logo -->
	
	
				
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
