{% extends 'base.html' %}
{% block style %}
<style>

body{
}
		#header.transparent-navbar:not(.fixed-navbar) .navbar-brand .logo .logo-img {
		  display: none;
		}
		
		#header.fixed-navbar .navbar-brand .logo .logo-alt-img {
		  display: none;
		}
		
		#header:not(.transparent-navbar) .navbar-brand .logo .logo-alt-img {
		  display: none;
		}
		
		
				.ml4 {
					font-weight: 900;
					font-size: 2.5em;
					color:#ffff;
					text-align-last: left;
					padding-top:100px;
					padding-left: 10px;
		}
			
				.welcome-text{
					text-align-last: left;
					padding-top:5px;
					padding-left: 15px;
					color:#ffff;
		
				}
		
			.container {
		  padding-top: 10px;
		}
		
		.main-container {
		  background: #f8f9f9;
		  position: relative;
		}
		
		.main-container:before {
		  content: '';
		  position: absolute;
		  left: 0;
		  top: -36px;
		  width: 100%;
		  height: 60px;
		  background: #f8f9f9;
		  -webkit-transform: skewY(2.5deg);
		  -moz-transform: skewY(2.5deg);
		  -ms-transform: skewY(2.5deg);
		  -o-transform: skewY(2.5deg);
		  transform: skewY(2.5deg);
		  -webkit-backface-visibility: hidden;
		}
		
		.about-me-section {
		  margin: 10px auto;
		  padding: 0 20px;
		  padding-bottom: 10px;
		  position: relative;
		  max-width: 600px;
		}
		
		.about-us-p{
			text-align: center;
			color:#192965;
			padding: 1px 0px 20px ;
		}
			
		
		/* .carousel-item.active,
		.carousel-item-next,
		.carousel-item-prev{
			display:block;
		}
		 */
		.testimonials{
			padding: 100px 0px 140px 0px;
			background: #ffff;
  			color: #000;
			width: 100%;
			overflow: hidden;
			/* background:#f8f9fa; */
			text-align: center;
		}
		
		
		.clients {
			width: 100%;
			padding: 40px 0px 30px 0px;
			overflow: hidden;
			text-align: center;
		}
		
		.read-more{
  			color: #192965;
              background: #fff;
              padding: 5px 10px;
              margin: 30px 0px;
              border: 2px solid #192965;
              border-radius: 3px;
              transition: .3s all;
              -webkit-transition: .3s all;
}


.read-more a{
	color:#192965;
}
.read-more:hover, .read-more:focus{
  color: #192965;
  border: 2px solid #192965;
  opacity: 0.8;
  padding: 11.5px 20px;
  transition: 0.8s all;

}

		
.client-logo{
					width: 60px;
					height: 60px;
					-webkit-border-radius: 60px;
					-webkit-background-clip: padding-box;
					-moz-border-radius: 60px;
					-moz-background-clip: padding;
					border-radius: 60px;
					background-clip: padding-box;
					margin: 7px 5px 0 5px;
				}


				.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #000;
}
		</style>
		{% endblock style %}




{% block body %}
<body>

</nav>
  <!-- Home -->
<div id="home">
	<!-- background image -->
	<div class="section-bg" style=" opacity:0.8; filter: brightness(30%); background-image: url(././media/background/background2.jpg)" data-stellar-background-ratio="0.5"></div>
	<!-- /background image -->
	<div class="home-wrapper">
			<!-- container -->
			<div class="container" style="text-align: left;">
					<br><br><br>

						<div class="home-content">
							<h2 style="color:white; " class="text-uppercase animated bounceInUp delay-0.5s">Influenz media Nigeria </h2><br>
							<h4 class="animated bounceInDown delay-0.5s">skilled training ranging from software development, digital marketing...</h4>
					
							<button class="main-btn slideInUp"  >
									<a style="color:#fff;" href="">read more</a> </button>
						</div>

					<!-- /home content -->
					
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<a name="our_services_section"></a>
<div class="container" style="padding: 100px 15px 70px; 15px">
		<div class="section-title">
				<h1 class="animated jackInTheBox delay-2s" style="color: #192965; "><span >our</span> <span style="color: #f80808;">Specialties</span> </h1>
				<h6 class="about-us-p animated jackInTheBox delay-2s">we offer Trainings in the following Skills.</h6>
			</div>
			<div class="row animated jackInTheBox delay-2s">
				{% for service in services %}
				  
					<div class="col-md-4" style="padding-bottom:50px;">
							<div class="card shadow">
								<div class="card-body">
									<div class="py-3 text-center"> <img src="{{service.icon.url}}" class="card-img-top" width="200"  alt=""></div>
									<div class="card-body">
										<a href=""><h4 class="text-center">{{service.title}}</h4></a>
									
									</div>
								</div>
							</div>
						</div><br>
						{% endfor %}				
</div>


<a name="about_section"></a>
</div>
<!-- angled div begining(about us) -->
<div class="animated jackInTheBox delay-5s" style="margin: 100px 0px 20px 0px;">
		<main class="main">
		  <div class="main-container">
			<section class="about-me-section">
					<div class="section-title">
							<h1 class=""><span style="color: #192965;">About</span> <span style="color: #ff0000;">Us</span> </h1>
						</div>
						
						{% for about_me in about %}
			  <p class="about-us-p">{{about_me.about}} <br>
				{% endfor %}
				<a name="projects_section"></a>
			  </section>
		  </div>
		 </main>
	  
	  </div>






<!-- our projects start -->

	  <div class="section-title" style="padding: 40px 0px 0px 0px;">
			<h1 class="" style="color: #192965;"><span>our</span> <span style="color: #ff0000;">Projects</span> </h1>
		</div>

	  <div class="row justify-content-center align-items-center">
			<div class="col-lg-5 col-md-6">
				<div class="bd-example">
						<img  style="width: 350px; height: 350px;" src="{{blog1.img1.url}}">
				</div>
			</div>

			<div class="col-lg-7 col-md-6">
				<div class="pl-68">
						<a href="{% url 'myapp:post_detail' blog1.pk %}"><h3 class="text-capitalize text-center" style="padding-top: 70px; font-weight:bolder; ">{{blog1.title}}</h3></a>
						
						<p class="text-left">{{blog1.text |slice:":500"}}</p>
						<button class="main-btn float-right"  >
								<a style="color:#fff;" href="{% url 'myapp:post_detail' blog1.pk %}">read more</a> </button>
				</div>
			</div>
		</div>



<div class="container" style="text-align: center; padding:- 0 -0 0;">

	
<button class="read-more float-center"  >
	<a href="{% url 'myapp:post_list' %}">Other Projects</a> </button>
</div>			


<!-- testimonials -->
<a name="testimonials_section" style="padding: 40px 0px 0px 0px;"></a>
	<div class="carousel-slider testimonials">
			
	<div class="section-title" >
		<h1 class="" style="color: #192965; padding: 0px 0px 70px 0px;"><span>What Our </span> <span style="color: #f80808;">Clients</span> <span>Say</span></h1>
	</div>


	<div class="container">
			<div id="carouselContent" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					{% for i in testimonials %}
					<div {% if forloop.first %} class="carousel-item active text-center p-4" {% else %} class="carousel-item text-center p-4" {% endif %} >
					<p >{{i.text}}</p>
					</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon " aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	


</div> 
<!-- end if testimonials -->




				
<!-- CLIENTEL -->



<!-- testimonials --><a name="clientel_section"></a>

	<div class="" style="margin: 100px 0px 30px 0px;">

			<main class="main">
			  <div class="main-container
			">
				<section class="about-me-section">
						<div class="section-title" style="padding: 20px 0px 20px 0px;">
								<h1 class=""><span style="color: #192965;">Our</span> <span style="color: #ff0000;">clientels</span> </h1>
								<h6 class="text-center">
										We are Trusted by 
								</h6>
							</div>
			<div class="clients">
				
				<div class="wrap" style="padding: 0px 0px 40px 0px;">
					{% for img in clientels %}
					<img class="client-logo" src="{{img.logo.url}}">
					
					{% endfor %}
				</div>
				  </div>	
				  </section>
			  </div>
			 </main>
			
		  </div>
		  <div id="contact" class="section">
				<!-- container -->
				<div class="section-title" style="padding: 0px 0px 70px 0px;">
						<h1 class=""><span style="color: #192965;">Contact</span> <span style="color: #ff0000;">Info</span> </h1>
				</div>
				<div class="container">
					<!-- row -->
			
						<div class="row">
		
			
						<!-- contact -->
						<div class="col-md-3">
							<div class="contact text-center">
								<h3>Email</h3>
								
								{% for mail in contact %}
								<a href="mailto:{{mail.email}}">{{mail.email}}</a>
								{% endfor %}
							</div>
						</div>
						<!-- /contact -->
						<!-- contact social -->
						<div class="col-md-2">
							<div class="contact">
								
								
								<h3 style="color: #dd0a37;"> Socials</h3>
								<ul class="faico">
						<li><a href="{{socials.facebook}}"><i class="fa fa-facebook"></i></a></li>
						<li><a href="{{socials.twitter}}"><i class="fa fa-twitter"></i></a></li>
						<li><a href="{{socials.youtube}}"><i class="fa fa-youtube"></i></a></li>
						<li><a href="{{socials.instagram}}"><i class="fa fa-instagram"></i></a></li>
					  </ul>
							</div>
						</div>
						<!-- /contact social -->
						<div class="col-md-3">
							<div class="contact text-center">
									<h3>Phone</h3>
									{% for digits in contact %}
									  
									<ul>
										<li>{{digits.phone}}</li>
									
									</ul>
									{% endfor %}
								
								
								
							</div>
						</div>

						<!-- contact -->
								<div class="col-md-4">
									<div class="bd-example">
											<h3 style="color: #dd0a37;"> Gallery</h3>

								
										<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
													<div class="carousel-inner">
														{% for i in gallery %}
														<div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %} >
														<img class="d-block w-100" src="{{i.images.url}}" alt="First slide" >
														</div>
														{% endfor %}
												
													</div>
													<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="color: #000;">
														<span class="carousel-control-prev-icon" aria-hidden="true" style="color: #000;"></span>
														<span class="sr-only" style="color: #000;">Previous</span>
													</a>
													<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="color: #000;">
														<span class="carousel-control-next-icon" style="color: #000;" aria-hidden="true"></span>
														<span class="sr-only">Next</span>
													</a>
													</div>	
									</div>
								</div>
			
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			
			</div>


<div></div>















	</body>
{% endblock body %}





</html>
